# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test File
test
test/*
test.mod

# IDE
.idea
.vscode
.cursor
.kiro
.windsurf

oldT
oldTH

src-tauri/target/*

prd.md
todo-list.md
target/rust-analyzer/flycheck0/stderr
target/rust-analyzer/flycheck0/stdout

mission.txt
events